.clientSection {
    padding: 5.75rem var(--sidePadding);
    color: var(--primary-color-2);
    background: var(--secondary-color-4);

    position: relative;

}

.clientSection::before {
    content: '';
    position: absolute;
    top: -6.25rem;
    left: -6.25rem;
    width: 12.5rem;
    height: 12.5rem;
    z-index: 1;
    background-image: url(../public/images/bg-pattern-about-4.svg);
    background-repeat: no-repeat;
}

.clientSection h2 {
    font-size: var(--heading-800);
    color: var(--primary-color-3);
}

.wrapper {
    text-align: center;
}



@media (min-width: 768px) {
    .clientSection {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .clientSection::before {
        left: 0rem;
    }
}

@media (min-width: 1024px) {}

@media (min-width: 1440px) {}