.directorSection {
    padding: var(--topAndBotPadding) var(--sidePadding) 7.188rem var(--sidePadding);
    background-color: var(--secondary-color-3);
    padding-top: 5.688rem;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.directorSection::before {
    content: '';
    position: absolute;
    top: -6.75rem;
    left: -6.5rem;
    width: 12.5rem;
    height: 12.5rem;
    background: url('../public/images/bg-pattern-about-2-contact-1.svg') no-repeat;
}

.directorSection::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0rem;
    width: 9.188rem;
    height: 6.25rem;
    background: url('../public/images/bg-pattern-home-4-about-3.svg') no-repeat;
}




.directorSection h2 {
    text-align: center;
    color: var(--primary-color-3);
    font-size: var(--heading-800);
    line-height: var(--line-height-800);
}

.directorContainer {
    display: flex;
    flex-direction: column;
    gap: 3.25rem;
    padding-top: 3rem;
}

@media screen and (min-width: 768px) {
    .directorContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: .65rem;
        row-gap: 4.5rem;
    }

    .directorSection::before {
        top: 0rem;
        left: -7.5rem;
    }
}

@media screen and (min-width: 1440px) {
    .directorContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1.875rem;
        row-gap: 5rem;

        padding-top: 4.375rem;
    }

}