.feedbackSection {
    position: relative;
    background-color: var(--secondary-color-3);
}

.feedbackSection::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 9.375rem;
    height: 9.375rem;
    background: url('/images/bg-pattern-home-4-about-3.svg') no-repeat;
}

.feedbackSection::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 12.5rem;
    height: 6.25rem;
    background: url('/images/bg-pattern-home-5.svg') no-repeat;
}

.feedbackSection h2 {
    color: var(--primary-color-3);
    font-size: var(--heading-800);
    line-height: var(--line-height-800);
    font-family: 'LivvicBold';
    font-weight: normal;
    text-align: center;
}

.feedbackSection h3 {
    color: var(--secondary-color-1);

}

.coloredWord {
    font-family: 'LivvicBold';
    font-weight: normal;
    color: var(--secondary-color-1);

}

.wrapper {
    padding: 8.75rem var(--sidePadding) 9.5rem var(--sidePadding);
}

.avatar {
    border-radius: 3rem;
    border: 2px solid #C4FFFE;
    margin-top: .5rem;
}

.feedbacks {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding-top: 5rem;
}

.feedbackMessage {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--primary-color-3);
    align-items: center;
    text-align: center;

    position: relative;

}

.feedbackMessage::before {
    content: '';
    position: absolute;
    top: -2.25rem;
    width: 4.188rem;
    height: 3.5rem;
    background: url('../public/images/icon-quotes.svg') no-repeat;
    z-index: 0;
}

.feedbackMessage p {
    font-size: 0.938rem;
    line-height: 1.563rem;
    position: relative;

}

.feedbackAuthor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedbackAuthor p {
    font-size: 0.813rem;
    font-family: 'LivvicMediumItalic';
}


@media screen and (min-width: 768px) {
    .wrapper {
        padding-top: 6.25rem;
        padding-bottom: 8rem;
    }
}

@media screen and (min-width: 1440px) {

    .wrapper {
        padding-top: 8.75rem;
    }

    .feedbacks {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .avatar {
        margin-top: 1.25rem;
    }
}