.header {
    padding: 2.5rem var(--sidePadding) 0 var(--sidePadding);
    background-color: var(--background-color);
}

.navbar {
    display: flex;
    flex-direction: column
}

.navWrapper {
    position: relative;
    z-index: 30;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    padding-bottom: 2rem;

}

a.link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    color: var(--primary-color-3);
}

.link:hover {
    color: var(--primary-color-2);
}

.navLink {
    display: flex;
    gap: 2rem;
}


.link::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: var(--primary-color);
    transition: all .5s;

}

.link:hover::before {
    width: 100%;
}

.mobileNav {
    height: 100vh;
    width: 52%;
    position: fixed;
    z-index: 98;
    top: 0;
    right: -100%;
    padding: 7rem 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: .5s ease-in-out;
    background-color: var(--secondary-color-2);
}


.mobileNav.active {
    right: 0;
}

.mobileNav button {
    width: 100%;
}

.mobileNavWrapper {
    position: relative;
    height: inherit;
}

.mobileNavWrapper::before {
    content: '';
    position: absolute;
    bottom: 7rem;
    right: -2rem;
    width: 6.25rem;
    height: 12.5rem;
    background: url('../public/images/bg-pattern-about-1-mobile-nav-1.svg') no-repeat;
}

.mobileLinks {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 2rem;
    max-width: 90%;
    margin-inline: auto;
    position: relative;
}


.mobileLink {
    color: var(--primary-color-3);
}

.logoImg {
    width: 8rem;
    object-fit: contain;
}





.navbar li {
    list-style: none;
}

/* Hamburger menu */
.hamburger {
    position: relative;
    display: block;
    width: 1.5rem;
    appearance: none;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 99;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--primary-color-3);
    margin: 5px 0;
    transition: .4s;
}

.hamburger.isActive:before {
    transform: rotate(-45deg) translate(-5px, 7px);
    background-color: var(--primary-color-3);

}

.hamburger.isActive .bar {
    opacity: 0;
}

.hamburger.isActive:after {
    background-color: var(--primary-color-3);
    transform: rotate(45deg) translate(-4px, -7px);
}

.max-width {
    max-width: 69.375rem;
    margin-inline: auto;
}

@media (min-width: 768px) {
    .navWrapper {
        justify-content: space-between;

    }

    .hamburger {
        display: none;
    }


}

@media (min-width: 1024px) {


    .navLink {
        gap: 2.5rem;
    }

    .navWrapper {
        padding-top: 0;
        padding-bottom: 3rem;
    }
}

@media (min-width: 1440px) {


    .navWrapper {
        padding-top: 0;
        padding-bottom: 3rem;
    }

    .logoImg {
        width: 10rem;
    }

    .header {
        padding-top: 4.813rem;
    }
}