.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    background-color: #F5F5F5;
    color: var(--pure-black);

    padding: 3.5rem 2.25rem 2.5rem 2.25rem;
}

.card.mostPopular {
    background-color: var(--pure-black);
    color: var(--pure-white);
    border-top: solid;
    border-width: 6px;
    border-image-source: var(--main-accent);
    border-image-slice: 1;
}


.titleAndDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    gap: 1rem;
}

.title {
    font-size: 1.5rem;
    line-height: 1.563rem;
}

.description {
    opacity: .6;
    font-size: 0.938rem;
    line-height: var(--line-height-body-500);
}

.price {
    display: flex;
    flex-direction: column;

}

.periodicity {
    font-size: 0.938rem;
    line-height: var(--line-height-body-500);
    opacity: .6;
    text-align: center;
}

.amount {
    font-size: 2.5rem;
    line-height: var(--line-height-heading-900);
    font-family: 'DMSansBold';
    letter-spacing: var(--letter-spacing-heading-900);
}

.linkWrapper {
    min-width: 100%;
}

@media screen and (min-width: 768px) {
    .card {
        display: grid;
        grid-template-areas:
            "titleAndDescription price"
            "linkWrapper .";
        padding: 2.5rem 3rem 2.5rem 2.5rem;
        grid-template-columns: 1fr 1fr;
        column-gap: 3.313rem;
        row-gap: 2rem;
    }

    .titleAndDescription {
        grid-area: titleAndDescription;
        align-items: flex-start;
        text-align: left;
    }

    .price {
        grid-area: price;
        justify-self: end;
        align-self: flex-start;
    }

    .linkWrapper {
        grid-area: linkWrapper;
    }

    .periodicity {
        text-align: right;
        position: relative;
        right: var(--letter-spacing-heading-900);
    }

    .card.mostPopular {
        border-top: unset;
        border-left: solid;
        border-width: 6px;
    }
}

@media screen and (min-width: 1440px) {
    .card {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 3.5rem 2.5rem 2.5rem 2.5rem;
        height: fit-content;
        gap: 2.5rem;
    }

    .card.mostPopular {

        padding: 5.5rem 2.5rem 4.438rem 2.5rem;
        border-left: unset;
        /* border-top: solid;
        border-width: 6px; */
        position: relative;
        top: -2rem;
    }

    .card.mostPopular::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 6px;
        background: var(--main-accent);
    }

    .titleAndDescription {
        align-items: center;
        text-align: center;
    }

    .price {
        align-items: center;
        align-self: unset;
    }
}